@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Flamenco&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,500;1,500&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Poppins:wght@500;600;700;800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
}

:root {
  --heading: rgb(0 10 45);
  --para: #777;
  --para-tint: #e4e4e4;
  --white: #fff;
  --black: #212529;
  --overlay: #3e64ff;
  --helper: #8490ff;
  --icons-bg: rgba(144, 172, 209, 0.2);
  --extra-icon: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --gradientSupport: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
    Header Section Start
*/

.header {
  padding: 0 4.8rem;
  height: 10rem;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  height: 10rem;
}

.navbar-lists {
  display: flex;
  gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* Reusable Code Section */

.section {
  padding: 8rem 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background: var(--gradientSupport);
  padding: 1.6rem 3.2rem;
  border: none;
  color: var(--helper-tint);
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.btn:hover,
.btn:active {
  box-shadow: var(--shadowSupport);
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;
}

.common-heading::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: var(--helper);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.common-heading::after {
  content: "";
  position: absolute;
  top: 118%;
  left: 1.3rem;
  min-width: 20rem;
  height: 0.2rem;
  background-color: var(--helper);
}

/* Hero Section Start */

.section-hero {
  background-color: var(--bg);
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-top-data {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--helper);
}

.hero-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5.9rem;
}

.hero-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
}

.section-hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 80%;
  /* max-height: 80%; */
}

/* Biodata Section Start */

.bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-image img {
  width: 80%;
  box-shadow: -2rem -2rem 0 0 var(--helper);
  display: inline-block;
}

.bio-data-stats {
  display: flex;
  padding: 4rem 0;
  flex-direction: column;
  gap: 2rem;
}

.bio-stats h3 {
  margin-bottom: 1rem;
}

.bio-progress-bar {
  width: 90%;
  height: 0.8rem;
  background-color: var(--para-tint);
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  box-shadow: var(--shadow);
  position: relative;
}

.bio-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  background: var(--gradientSupport);
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.bio-progress-2::before {
  width: 99%;
}
.bio-progress-3::before {
  width: 90%;
}
.bio-progress-4::before {
  width: 85%;
}
.bio-progress-5::before {
  width: 70%;
}

.bio-progress-bar span {
  position: absolute;
  top: 1.8rem;
  width: 4rem;
  height: 2rem;
  background: var(--helper);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 0;
}

.bio-progress-bar span {
  left: 76%;
}

.bio-progress-2 span {
  left: 95%;
}
.bio-progress-3 span {
  left: 86%;
}
.bio-progress-4 span {
  left: 81%;
}
.bio-progress-5 span {
  left: 66%;
}

/* to create a caret */
.bio-progress-bar span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.8rem solid var(--helper);
  border-color: transparent;
  border-bottom-color: var(--helper);
  top: -1.6rem;
}

/* portfolio section start */
.section-portfolio {
  background: var(--bg);
  transition: all 0.7s linear;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -ms-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
}

.section-portfolio p {
  max-width: 60rem;
}

.p-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin-top: 6.4rem;
  margin: 6.4rem 0;
}

.portfolio-images {
  gap: 3.2rem;
}

.portfolio-images img {
  width: 100%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.img-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradientSupport);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.img-overlay:hover .overlay {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  opacity: 0.8;
  cursor: pointer;
}

.img-overlay .common-heading {
  margin: 0;
  color: var(--white);
  text-decoration: none;
}

.img-overlay .common-heading::before {
  width: 0;
}

.img-overlay .common-heading::after {
  height: 0;
}

.p-btn-active {
  transform: translateY(-1rem);
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
}

.p-image-not-active {
  display: none;
}

/* work data section start */

.section-work-data {
  background: var(--gradientSupport);
  text-align: center;
  color: var(--white);
  transition: all 0.7s linear;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -ms-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
}

.counter-numbers {
  font-size: 3.8rem;
}

.section-work-data p {
  color: var(--white);
  text-transform: capitalize;
}

/* services section start */

.section-services {
  transition: all 0.7s linear;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -ms-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
}

.section-services p {
  max-width: 60rem;
}

.section-services .grid {
  margin-top: 10rem;
  row-gap: 10rem;
}

.service-box {
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 6.4rem 3.4rem;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  cursor: pointer;
}

.service-box:hover,
.service-box:active {
  transform: translateY(-3rem);
  -webkit-transform: translateY(-3rem);
  -moz-transform: translateY(-3rem);
  -ms-transform: translateY(-3rem);
  -o-transform: translateY(-3rem);
}

.service-icon {
  width: 8rem;
  height: 8rem;
  background: var(--extra-icon);
  display: inline-block;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -webkit-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -moz-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -ms-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  -o-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: rgba(250, 250, 250, 0.9);
  animation: water-wave 3s linear infinite;
  -webkit-animation: water-wave 3s linear infinite;
}

.service-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 42% 58% 44% 56% / 59% 45% 55% 41%;
  -webkit-border-radius: 42% 58% 44% 56% / 59% 45% 55% 41%;
  -moz-border-radius: 42% 58% 44% 56% / 59% 45% 55% 41%;
  -ms-border-radius: 42% 58% 44% 56% / 59% 45% 55% 41%;
  -o-border-radius: 42% 58% 44% 56% / 59% 45% 55% 41%;
  background: transparent;
  border: 1px solid var(--white);
  animation: water-wave 3s linear infinite;
  -webkit-animation: water-wave 3s linear infinite;
}

@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    -webkit-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    -moz-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    -ms-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    -o-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    -webkit-border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    -moz-border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    -ms-border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    -o-border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    -webkit-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    -moz-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    -ms-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    -o-border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}

.service-box h3 {
  text-transform: capitalize;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

/* Our Resume Section Start  */
.resume-img img {
  max-width: 80%;
  box-shadow: -2rem 2rem 0 0 var(--helper);
  display: inline-block;
}

.resume-para {
  color: var(--black);
  margin-top: -1.2rem;
  margin-bottom: 2rem;
}

.resume-data-subsection {
  max-width: 100%;
  gap: 8rem;
  display: flex;
  box-shadow: var(--shadow);
  margin: 1rem 0;
}

.resume-data-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 2rem 0;
}

.resume-data-left h3 {
  margin-bottom: 0.5rem;
}
.resume-data-left p {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.4rem;
}

.resume-data-left .grid {
  gap: 0.5rem;
}

.resume-data-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 0 0 2rem 0;
}

.resume-data-right .resume-data-button {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--helper);
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.resume-data-right span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.4rem;
  color: var(--para);
}

/* our swiper section start */
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 9rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-client-msg {
  padding: 5rem 8rem;
  background-color: var(--white);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  text-align: left;
  box-shadow: var(--shadow);
  position: relative;
}

.swiper-client-msg::before {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  border: 5rem solid var(--white);
  border-color: transparent;
  border-top-color: var(--helper-tint);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.swiper-client-msg p::before {
  content: "\f10d";
  position: absolute;
  top: 0;
  left: 2rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 5rem;
  color: #ced3ff;
}

.swiper-client-msg p::after {
  content: "\f10e";
  position: absolute;
  bottom: 0;
  right: 3rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 5rem;
  color: #ced3ff;
}

.swiper-client-data {
  align-items: center;
  margin-top: 3.2rem;
  gap: 3.2rem;
}

.swiper-slide img {
  max-width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 0.5rem solid var(--helper-tint);
}

/* Freelancing section start */

.section-freelancing {
  background-image: url(../images/folio.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
  transition: all 0.7s linear;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -ms-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  text-align: center;
}

.section-freelancing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  opacity: 0.7;
}

.section-freelancing .container {
  position: relative;
}

.section-freelancing h2 {
  font-size: 5.2rem;
}

.section-freelancing span {
  color: #a0f669;
}

.section-freelancing h2,
.section-freelancing p {
  color: var(--white);
  margin-bottom: 1.8rem;
}

/* contact section start */

.section-contact-main {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 9rem;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.section-contact-main .grid {
  gap: 2.3rem;
}

.section-contact-main form {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.section-contact-main input,
.section-contact-main textarea {
  padding: 1.2rem 2rem;
  border: 0.1rem solid #c9c9c9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1.6rem;
  font-family: "work sans";
  width: 100%;
}

.section-contact-main input[type="submit"] {
  max-width: 30%;
  border: none;
}

/* footer section start  */

.section-footer {
  background-color: var(--heading);
  transition: all 0.7s linear;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -ms-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
}

.section-footer h3 {
  color: var(--white);
  margin-bottom: 3.5rem;
}

.f-about p {
  color: #adadad;
}

.f-links ul,
.f-services ul,
.f-address address {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
  font-size: 1.8rem;
  color: #adadad;
  text-transform: capitalize;
}

.f-links span,
.f-services span,
.f-address span {
  margin-right: 1rem;
}

.f-address p,
.f-address a {
  font-style: normal;
  color: #adadad;
}

.f-social-icons {
  margin: 5rem 0;
  text-align: center;
  color: #adadad;
}

.f-social-icons .icons {
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  color: var(--white);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.f-social-icons .icons:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.f-credits p {
  text-align: center;
  color: #adadad;
}

.footer a:hover,
.footer a:active {
  color: var(--white);
}

/* Scroll Section Start */

.scrollTop-style {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 1;
}

.scroll-top {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--gradientSupport);
  cursor: pointer;
  display: inline-block;
  padding: 1.4rem 1.8rem;
  color: var(--white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.scroll-top:hover {
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}

/* media queries  */

/* we can't use 1rem, 2rem, etc inside css but we can use "em" instead of "rem" or "px"  */

/* 1200/16 = 75
1200px = 75em */

/* for 1000px  */

/* for 1200px  */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .container {
    max-width: 110rem;
    padding: 0 6.2rem;
  }

  .grid {
    gap: 4.8rem;
  }

  .section-resume .grid-two-column {
    grid-template-columns: 1fr 2fr;
  }

  .section-resume .resume-data-subsection .grid-two-column {
    grid-template-columns: 1fr 1fr;
  }

  .navbar-lists {
    gap: 3rem;
  }
}

/* for 980px  */
@media (max-width: 980px) {
  html {
    font-size: 50%;
  }

  .header {
    position: relative;
  }

  .mobile-navbar-btn {
    display: block;
    z-index: 9999;
    border: 3px solid var(--black);
    color: var(--black);
  }

  .mobile-nav-icon {
    width: 5rem;
    height: 5rem;
    color: var(--black);
  }

  .header .logo {
    /* width: 20%; */
  }

  .navbar {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;

    /* instead of display none  */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-lists {
    flex-direction: column;
    align-items: center;
  }

  .navbar .navbar-lists .navbar-link:link,
  .navbar .navbar-lists .navbar-link:visited {
    color: #212529;
    font-size: 2.5rem;
  }

  .active .navbar {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 9999;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  /* hero section  */
  .section-hero h1 {
    line-height: 0.5;
  }
  .img-overlay .common-heading {
    font-size: 3.2rem;
  }
}

/* for 800px  */
@media (max-width: 50em) {
  /* services section  */

  .section-services .grid {
    gap: 6rem;
  }

  .section-services .grid-three-column {
    grid-template-columns: repeat(2, 1fr);
  }

  /* resume section  */
  .section-resume .grid-two-column {
    grid-template-columns: 1fr;
  }

  .resume-img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2;
    /* transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem); */
  }

  .section-resume .grid-two-column img {
    width: 50%;
  }

  .section-footer .grid-four-column {
    grid-template-columns: 1fr 1fr;
  }
}

/* for 700px   */

@media (max-width: 44em) {
  .container {
    max-width: 60rem;
  }
  .section-hero .grid-two-column {
    grid-template-columns: 1fr;
  }
  .section-hero-data {
    align-items: center;
  }
  .hero-heading {
    text-align: center;
    font-size: 5rem;
  }

  .hero-para {
    text-align: center;
    margin-top: 2rem;
  }

  .section-hero img {
    width: 70%;
  }

  /* bio data  */
  .section-biodata .grid-two-column {
    grid-template-columns: 1fr;
  }

  .section-biodata .bio-image {
    /* grid-row-start: 2;
    grid-row-end: 3;
    grid-row: 2/3; */
    grid-row: 2;
    margin-top: 3.2rem;
  }
  .section-biodata .bio-image img {
    width: 70%;
  }

  /* portfolio section  */
  .section-portfolio .grid-three-column {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-work-data .grid-four-column {
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
  }
  .section-services .grid-three-column {
    grid-template-columns: 1fr;
  }
  .section-resume .resume-img img {
    width: 70%;
  }
}

/* for 460px  */

@media (max-width: 29em) {
  .header {
    padding: 0 6.2rem;
  }

  /* portfolio  */
  .p-btns {
    gap: 2rem;
  }
  .btn {
    padding: 1rem 2rem;
  }
  .counter-numbers {
    font-size: 3.2rem;
  }

  /* resume section  */
  .resume-data-subsection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  .resume-data-subsection .resume-data-left {
    padding: 0;
    width: 100%;
  }

  .resume-data-subsection .resume-data-left .grid-two-column {
    grid-template-columns: 1fr;
  }

  .resume-data-subsection .resume-data-right {
    padding: 0;
    width: 100%;
    gap: 6rem;
    flex-direction: row;
  }
  .section-freelancing h2 {
    font-size: 3.5rem;
  }

  .contact-container {
    padding: 0 3rem;
  }

  .contact-container .grid-two-column {
    grid-template-columns: 1fr;
  }
  .section-contact-main input[type="submit"] {
    max-width: 40%;
  }

  /* footer section  */

  .section-footer .f-about,
  .section-footer .f-address {
    grid-column: 1/-1;
  }
  .img-overlay .common-heading {
    font-size: 2.4rem;
  }
}
